<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bcmtransport</title>
    <link rel="icon" type="image/png"
        href="https://res.cloudinary.com/dgwtmmyl7/image/upload/v1627057367/BCM/favicon_uqkrmz.ico"
        crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="stylesheets/bcmtransportrs.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
    <nav id="MainNav" class="navbar navbar-light navbar-expand-md floating-manu">
        <button class="navbar-toggler position-absolute fixed-top" data-bs-toggle="collapse" data-bs-target="#navLink"
            aria-label="toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLink">
            <div>
                <a class="nav-link btn btn-lg" href="#home"><i class="bi bi-house-door"></i> <span>Home</span></a>
                <a class="nav-link btn btn-lg" href="#about"><i class="bi bi-file-person"></i> <span>About</span> </a>
                <a class="nav-link btn btn-lg" href="#service"><i class="bi bi-truck"></i> <span>Presentation</span>
                </a>
                <a class="nav-link btn btn-lg" href="#contact"><i class="bi bi-telephone"></i> <span>Contact</span> </a>
            </div>
        </div>
    </nav>
    <div id="mobNav" class="container-fluid justify-content-center d-flex d-block d-sm-none">
        <a class="nav-link btn btn-danger" href="#about"><i class="bi bi-file-person"></i> About</a>
        <a class="nav-link btn btn-danger" href="#service"><i class="bi bi-truck"></i> Presentation</a>
        <a class="nav-link btn btn-danger" href="#contact"><i class="bi bi-telephone"></i> Contact</a>
</div>

    <section>
        <div id="home" class="header-container text-center container-fluid d-flex d-none d-lg-block">
            <div class="row justify-content-center">
                <div class="col-md-3"data-aos="fade-right" data-aos-duration="1000">
                    <h6> <i class="bi bi-house-door"></i> Address: Antona Čehova 30/13, 21000 Novi Sad, Serbia</h6>
                </div>
                <div class="col-md-3"data-aos="fade-down" data-aos-duration="1000">
                    <h6> <i class="bi bi-hourglass"></i> Working hours: 8 am - 5 pm (Monday - Friday)</h6>
                </div>
                <div class="col-md-3"data-aos="fade-left" data-aos-duration="1000">
                    <h6> <i class="bi bi-telephone"></i> Contact phone: +381 64 300 60 61</h6>
                </div>
            </div>
        </div>
        <div class="card d-flex d-none d-lg-block">
            <div class="card-body position-absolute top-0 end-0">
                <div class="container-fluid flex-column text-center">
                    <img id="topLogo" class="d-flex "
                        src="https://res.cloudinary.com/dgwtmmyl7/image/upload/v1627123421/BCM/cropped-bmc_logo1-2-5_wyctla-min_jym4lq.png">
                </div>
                <div>
                    <h5 id="topMoto" class="card-title text-center container-fluid"><i class="bi bi-truck-flatbed"></i> We deliver on our promises!</h5>
                </div>               
                <div class="text-center">
                    <a href="#contact" id="TransBtn" class="btn btn-lg rounded-pill">Transport request</a>
                </div>

            </div>
        </div>
    </section>
    
    <section>
        <div class="container-fluid d-flex flex-column text-center px-0">          
            <img src="https://res.cloudinary.com/dgwtmmyl7/image/upload/v1627123433/BCM/poku%C5%A1aj_yqpzie-min_tageli.png">
        </div>
    </section>
    
    <section class="container-fluid px-0">
        <div id="textMoving" class="d-flex flex-column text-center">
            <div class="row">
                <div class="col-md-6 pt-5 order-2 order-md-1" >
                    <img src="https://res.cloudinary.com/dgwtmmyl7/image/upload/v1627123431/BCM/elevate-GAdkOpqbTfo-unsplash-min_ffovuf.jpg"
                        class="img-fluid" alt="">
                </div>
                <div class="col-md-6 align-items-center order-1 order-md-2"data-aos="fade" data-aos-duration="1000">
                    <h3 id="about"><i class="bi bi-file-person"></i> About us</h3>
                    <p>BCM Transport and Logistics is a company founded in 2017. At the very beginning, the company was exclusively engaged in consulting in the field of road transport. Over time, the business has expanded, so that BCM Transport and Logistic now also provides transport services. The founder of BCM Transport and Logistics - Bojan Miletić, graduated traffic engineer - has gained vast experience in various freight forwarding operations while cooperating with entities from various business spheres. For this reason, by hiring BCM Transport and Logistics, clients count on accuracy, speed, efficiency, and professionalism.</p>
                </div>
            </div>
        </div>
    </section>
  
    <section class="container-fluid px-0">
        <div id="textMoving" class="d-flex flex-column text-center mt-5">
            <div class="row">
                <div class="col-md-6 align-items-center" data-aos="fade" data-aos-duration="1000">
                    <h3 id="service"><i class="bi bi-truck"></i> Presentation</h3>
                    <p>The main focus of the company is the express transport of goods in the European Union and the Balkans. Although we are young, in a short time, clients from the EU and Serbia have recognized us as a safe and reliable company that provides transportation services at the highest level, without delaying delivery deadlines. Our clients are mainly companies from the automotive industry, which need reliable and fast transport of goods, without delays. To ensure this, we are constantly expanding our fleet. All vehicles in the fleet are modernly equipped for the transport of goods in international traffic. BCM Transport and Logistics. Vehicles are available 24 hours a day, 365 days a year. We are ready to help you and meet all your requirements within 120 minutes. BCM Transport and Logistics is constantly growing and our goal is to build a dynamic, healthy, and successful company that will be recognized as a leader in the market of transport services - a company that is superior in all forms of express delivery and its business </p>
                </div>
                <div class="col-md-6 pt-5">
                    <img src="https://res.cloudinary.com/dgwtmmyl7/image/upload/v1627123924/BCM/scott-graham-5fNmWej4tAA-unsplash_1_-min_bwywsd.jpg"
                        class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="container-fluid px-0 mt-5">
        <div id="textMoving" class="row">
            <div >
                <h3 class="text-center"><i class="bi bi-telephone"></i> Transport request</h3>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 align-items-center text-center mt-5"data-aos="fade" data-aos-duration="1000">
                    <ul>
                        <li><p>*Please fill in all the required fields! </p></li>
                        <li><p>IMPORTANT!</p></li>
                        <li><p>We do not use databases and the data you enter will be used solely for better communication with clients.</p></li>
                    </ul>
                </div>
                <div class="container-fluid d-flex flex-column text-center">
                    <img class="mt-5"
                        src="https://res.cloudinary.com/dgwtmmyl7/image/upload/v1627123421/BCM/cropped-bmc_logo1-2-5_wyctla-min_jym4lq.png">
                </div>
                <div class="col-md-12 align-items-center text-center mt-5"data-aos="fade" data-aos-duration="1000" >
                    <ul>
                        <li><p><i class="bi bi-house-door"></i> Address: Antona Čehova 30/13, 21000 Novi Sad, Serbia </p></li>
                        <li><p><i class="bi bi-hourglass"></i> Working hours: 8 am - 5 pm (Monday - Friday)</p></li>
                        <li><p><i class="bi bi-telephone"></i> Contact phone: +381 64 300 60 61</p></li>
                    </ul>
                </div >
                
            </div>
            <div class="col-md-6 mt-5">
                <div class="input-group justify-content-center">
                    <div class="form-container container-fluid d-flex flex-column text-center">
                        <form id="form" class="contact-form" class="row needs-validation" novalidate>
                            <div class="form-row container d-flex flex-column">
                                <div class="col-lg-5 align-self-center">
                                    <input class="form-control" type="text" id="company" name="contact[company]"
                                        required>
                                    <label for="company" class="form-label">*Full name or company name</label>
                                </div>
                                <div class="col-lg-5 align-self-center">
                                    <input class="form-control" type="email" id="email" name="contact[email]" required>
                                    <label for="email" class="form-label">*Email</label>
                                </div>
                                <div class="col-lg-5 align-self-center">
                                    <input class="form-control" type="number" step="0.01" id="number" name="contact[number]"
                                        required>
                                    <label for="number" class="form-label">*Telephone number</label>
                                </div>
                                <div class="col-lg-5 align-self-center">
                                    <input class="form-control" type="text" id="subject" name="contact[subject]"
                                        required>
                                    <label for="subject" class="form-label">*Subject</label>
                                </div>
                                <p class="align-self-center">Transport:</p>
                                <div class="col-lg-5 align-self-center">
                                    <input class="form-control" type="text" id="from" name="contact[from]" required>
                                    <label for="from" class="form-label">*From</label>
                                </div>
                                <div class="col-lg-5 align-self-center">
                                    <input class="form-control" type="text" id="to" name="contact[to]" required>
                                    <label for="to" class="form-label">*To</label>
                                </div>
                            </div>
                            <div class="form-row mt-4 mb-4">
                                <label for="message" class="form-label">*Shipment description</label>
                                <textarea class="form-control" id="message" cols="36" rows="8" name="contact[message]"
                                    required></textarea>
                            </div>
                            <div class="form-row mb-4">
                                <div class="form group col-md-12 text-center">
                                    <button class="btn btn-lg btn-danger" type="submit" id="submit" value="Send Message"
                                        disabled>Send request</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container fluid">
        <div class="d-flex flex-column mt-5 mb-5 d-flex justify-content-center align-items-center"data-aos="fade" data-aos-duration="1000">
            <span class="border-top border-light border-5">
                <div class="row">
                    <div class="col-8 px-0">
                        <h3>Find us on social networks:</h3>
                    </div>
                    <div class="col-2 d-flex flex-column mt-5 d-flex align-items-center">
                        <a href="https://www.linkedin.com/company/bcmtransportandlogistics/"> <button
                                class="btn btn-danger">
                                <h2><i class="bi bi-linkedin" style="font: size 2rem;"></i></h2>
                            </button></a>
                    </div>
                    <div class="col-2 d-flex flex-column mt-5 d-flex  align-items-center">
                        <a href="https://www.instagram.com/bcm_transportandlogistic/"> <button class="btn btn-danger">
                                <h2 class="justify-content-center"><i class="bi bi-instagram"
                                        style="font: size 2rem;"></i></h2>
                            </button></a>
                    </div>
                </div>
            </span>
        </div>
    </section>
    <button onclick="topFunction()" id="myBtn"title="Go to top"><i class="bi bi-chevron-double-up"></i> <br> Top</button>


    <script src="javascripts/scroll.js"></script>
    <script type="module" src="javascripts/index.js"></script>
    <script src="javascripts/contact.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
          AOS.init({
            disable: 'mobile'
          });
        </script>
</body>

</html>