<!DOCTYPE html>
<html lang="sr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Glavni fokus kompanije BCM transport and logistics je dostavljanje robe i pružanje usluga u EU i na Balkanu.">
    <title>bcmtransport</title>
    <link rel="icon" type="image/png"
        href="https://res.cloudinary.com/dgwtmmyl7/image/upload/v1627057367/BCM/favicon_uqkrmz.ico"
        crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="stylesheets/bcmtransportrs.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,400&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-light floating-manu">
        <div class="collapse navbar-collapse d-flex d-none d-lg-block" id="navLink">
            <div>
                <a class="nav-link btn btn-lg" href="#home"><i class="bi bi-house-door"></i><span>Početna</span></a>
                <a class="nav-link btn btn-lg" href="#about"><i class="bi bi-file-person"></i><span>O Nama</span></a>
                <a class="nav-link btn btn-lg" href="#service"><i class="bi bi-truck"></i><span>Usluga</span></a>
                <a class="nav-link btn btn-lg" href="#contact"><i class="bi bi-telephone"></i><span>Kontakt</span></a>
            </div>
        </div>       
    </nav>
    <div id="mobNav" class="container-fluid justify-content-center d-flex d-lg-none px-0">
                <a class="nav-link btn btn-danger" href="#about"> O Nama</a>
                <a class="nav-link btn btn-danger" href="#service"> Usluga </a>
                <a class="nav-link btn btn-danger" href="#request"> Upit za transport </a>
                <a class="nav-link btn btn-danger" href="#contact"> Kontakt </a>
    </div>
    <section>
        <div id="home" class="header-container text-center container-fluid d-flex d-none d-lg-block">
            <div class="row justify-content-around">
                <div class="col-lg-2">
                    <img id="topImg" src="https://res.cloudinary.com/dgwtmmyl7/image/upload/v1627123421/BCM/cropped-bmc_logo1-2-5_wyctla-min_jym4lq.png" alt="logo">
                </div>
                <div class="col-lg-5 mt-2">
                    <h6><i class="bi bi-house-door"></i> Adresa: Antona Čehova 30/13, 21000 Novi Sad, Srbija</h6>
                </div>
                <div class="col-lg-5 mt-2">
                    <h6><i class="bi bi-telephone"></i> Kontakt telefon: +381 64 300 60 61 Imejl:
                        office@bcmtransport.rs</h6>
                </div>
            </div>
        </div>
    </section>   
    <div class="card d-none d-lg-block">
        <div class="card-body position-absolute top-0 end-0">              
            <div class="text-center">
                <a href="#request" id="TransBtn" class="btn btn-lg rounded-pill">Upit za transport</a>
            </div>

        </div>
    </div>
 
    <section>
        <div class="container-fluid d-flex flex-column text-center px-0">          
            <img src="https://res.cloudinary.com/dgwtmmyl7/image/upload/v1628004892/BCM/poku%C5%A1aj_yqpzie-min_tageli_iasjnt.png" alt="trucks">
        </div>
    </section>    
    <section class="container-fluid px-0">    
            <div class="row align-items-center">
                <div class="col-md-6 pt-5 order-2 order-md-1">
                    <img src="https://res.cloudinary.com/dgwtmmyl7/image/upload/v1628004892/BCM/elevate-GAdkOpqbTfo-unsplash-min_ffovuf-2_mkks8p.jpg"
                        class="img-fluid" alt="loading trucks">
                </div>
                <div id="textMoving" class="col-md-6 text-center justify-content-center order-1 order-md-2">
                    <h3 id="about"><i class="bi bi-file-person"></i> O nama</h3>
                    <p>BCM Transport and Logistic je kompanija osnovana 2017. godine. Na samom početku kompanija se
                        isključivo bavila konsaltingom u oblasti transporta u drumskom saobraćaju. Vremenom je došlo do
                        proširivanja delatnosti, tako da BCM Transport and Logistic sada pruža i usluge transporta.
                        Osnivač BCM Transport and Logistics – Bojan Miletić, diplomirani inženjer saobraćaja – stekao je
                        ogromno iskustvo u razičitim špediterskim poslovima, pritom sarađujući sa subjektima iz
                        najrazličitijih poslovnih sfera. <br>
                        Iz tog razloga, angažujući BCM Transport and Logistics, klijenti računaju na tačnost, brzinu,
                        efikasnost i profesionalnost.</p>
                </div>
        </div>
    </section> 
    <section class="container-fluid px-0">       
            <div class="row align-items-center">
                <div id="textMoving" class="col-md-6 text-center justify-content-center">
                    <h3 id="service"><i class="bi bi-truck"></i> Usluga</h3>
                    <p>Osnovni fokus kompanije je ekspresni prevoz robe u Evropskoj uniji i na Balkanu. Iako
                        smo mladi, za kratko vreme su nas klijenti iz EU i Srbije prepoznali kao sigurnu i pouzdanu
                        kompaniju koja pruža usluge prevoza na najvišem nivou, bez odlaganja rokova za dostavu. <br>

                        Naši klijenti su uglavnom kompanije iz automobilske industrije, kojima je potreban pouzdan i brz
                        prevoz robe, bez kašnjenja. Da bismo to obezbedili, neprestano proširujemo naš vozni park. Sva
                        vozila u voznom parku su moderno opremljena za prevoz robe u međunarodnom saobraćaju. Vozila su dostupna 24 časa dnevno, 365 dana u godini. Spremni smo da
                        vam pomognemo i u roku od 120 minuta udovoljimo svim vašim zahtevima. <br>

                        BCM Transport and Logistics neprestano raste i cilj nam je da izgradimo dinamičnu, zdravu i
                        uspešnu kompaniju koja će biti prepoznata kao lider na tržištu transportnih usluga – kompaniju
                        koja je superiorna u svim vidovima ekspresne dostave i u oblasti svog poslovanja. </p>
                </div>
                <div class="col-md-6 pt-5">
                    <img src="https://res.cloudinary.com/dgwtmmyl7/image/upload/v1628004891/BCM/scott-graham-5fNmWej4tAA-unsplash_1_-min_bwywsd_tkqtue.jpg"
                        class="img-fluid" alt="office">
                </div>
            </div>       
    </section>
    <section  class="container-fluid px-0 mt-5">
        <div id="textMoving" class="row">
            <div>
                <h3 id="request" class="text-center"><i class="bi bi-telephone"></i> Upit za transport</h3>
            </div>
            <div  class="col-md-12">
                <div  class="col-md-12 align-items-center text-center mt-5">
                    <ul>
                        <li><p>*Molimo Vas da popunite sva navedena polja! </p></li>
                        <li><p>VAŽNO!</p></li>
                        <li><p>Ne koristimo baze podataka i podaci koje unesete biće korišćeni isključivo za bolju komunikaciju
                            sa klijentima.</p></li>
                    </ul>
                </div>             
            </div>
            <div class="col-md-12 mt-5">
                <div class="input-group justify-content-center">
                    <div class="form-container container-fluid d-flex flex-column text-center">
                        <form id="form" class="contact-form" class="row needs-validation" novalidate>
                            <div class="form-row container d-flex flex-column">
                                <div class="col-lg-5 align-self-center">
                                    <input class="form-control" type="text" id="company" name="contact[company]"
                                        required>
                                    <label for="company" class="form-label">*Puno ime ili ime kompanije</label>
                                </div>
                                <div class="col-lg-5 align-self-center">
                                    <input class="form-control" type="email" id="email" name="contact[email]" required>
                                    <label for="email" class="form-label">*Imejl</label>
                                </div>
                                <div class="col-lg-5 align-self-center">
                                    <input class="form-control" type="number" step="0.01" id="number" name="contact[number]"required>
                                    <label for="number" class="form-label">*Broj telefona</label>
                                </div>
                                <div class="col-lg-5 align-self-center">
                                    <input class="form-control" type="text" id="subject" name="contact[subject]"required>
                                    <label for="subject" class="form-label">*Tema</label>
                                </div>
                                <p id="Transport" class="align-self-center">Transport:</p>
                                <div class="col-lg-5 align-self-center">
                                    <input class="form-control" type="text" id="from" name="contact[from]" required>
                                    <label for="from" class="form-label">*Od</label>
                                </div>
                                <div class="col-lg-5 align-self-center">
                                    <input class="form-control" type="text" id="to" name="contact[to]" required>
                                    <label for="to" class="form-label">*Do</label>
                                </div>
                            </div>
                            <div class="form-row mt-4 mb-4">
                                <label for="message" class="form-label">*Opis pošiljke</label>
                                <textarea class="form-control" id="message" cols="36" rows="8" name="contact[message]"
                                    required></textarea>
                            </div>
                            <div class="form-row mb-4">
                                <div class="form group col-md-12 text-center">
                                    <button class="btn btn-lg btn-danger" type="submit" id="submit" value="Send Message"
                                        disabled>Pošalji upit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="textMoving" class="row">
        <div class="col-md-12 align-items-center text-center mt-5">
            <h3 id="contact">Kontakt</h3>
            <ul>
                <li><p><i class="bi bi-house-door"></i> Adresa: Antona Čehova 30/13, 21000 Novi Sad, Srbija </p></li>
                <li><p><i class="bi bi-hourglass"></i> Radno vreme: 8 – 17 č (ponedeljak – petak)</p></li>
                <li><p><i class="bi bi-telephone"></i> Kontakt telefon: +381 64 300 60 61</p></li>
            </ul>
        </div>  
    </div>
    
    <section class="container fluid">
        <div class="d-flex flex-column  mb-4 d-flex justify-content-center align-items-center">
            <span class="border-top border-light border-5">
                <div class="row">
                    <div class="col-6 d-flex flex-column mt-4 d-flex align-items-center">
                        <a href="https://www.linkedin.com/company/bcmtransportandlogistics/"> <button
                                class="btn btn-danger" aria-label="linkedin">
                                <h2><i class="bi bi-linkedin" style="font: size 2rem;"></i></h2>
                            </button></a>
                    </div>
                    <div class="col-6 d-flex flex-column mt-4 d-flex  align-items-center">
                        <a href="https://www.instagram.com/bcm_transportandlogistic/"> <button class="btn btn-danger" aria-label="instagram">
                                <h2 class="justify-content-center"><i class="bi bi-instagram"
                                        style="font: size 2rem;"></i></h2>
                            </button></a>
                    </div>
                </div>
            </span>
        </div>
    </section>

    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="bi bi-chevron-double-up"></i></button>
    
    <footer class="mt-auto">
        <div id="footerP" class="text-center container fluid">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <p>&copy; 2021 BCM transport and logistics</p>
                </div>
                <div class="col-sm-6">
                    <p>Design and Development by<a href="https://www.linkedin.com/in/du%C5%A1an-gardinova%C4%8Dki-a06128aa/"class="text-reset"> Dušan Gardinovački</a></p>     
                </div>
            </div>
        </div>            
    </footer>
   


    <script src="javascripts/scroll.js"></script>
    <script type="module" src="javascripts/index.js"></script>
    <script src="javascripts/contact.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</body>

</html>