body {
    background-color: rgb(202, 197, 198);
    position: relative;
}

.btn-danger, .btn-danger:active, .btn-danger:visited {
    background-color: rgb(129, 1, 1) !important;
}
.btn-danger:hover {
    background-color: rgb(202, 197, 198) !important;
    color: rgb(129, 1, 1) !important;
}


.header-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(202, 197, 198);
}

.card-title {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}


h6 {
    color: rgba(123,21,23,255);
}


h3 {
    color: rgba(123,21,23,255);
    padding-bottom: 3rem;
    padding-top: 3rem;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}


p {
    color: rgb(129, 1, 1);
    font-weight: 600;
    text-align: justify;
    margin-left: 6.6rem;
    margin-right: 6.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


p.card-text {
    padding: 0%;
    margin: 0%;
    font-weight: bolder;
}

#TransBtn {
    border-color: rgba(164,188,213,255);
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    box-shadow:0px 0px 10px 0px rgb(0 0 0 / 50%);
    color: rgb(129, 1, 1);

}


#TransBtn:hover {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: rgb(129, 1, 1);
    
}



h5.card-title {
    font-size: 2.5rem;
    background-color: transparent;
    border-radius: 2rem;
    margin-bottom: 0%;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(129, 1, 1);
    font-weight: bold;
}


.floating-manu {
    position:fixed;
    padding: 2rem;
    padding-top: 8rem;
    display: flex;
    justify-content: start;
}

.nav-link.btn.btn-lg:hover{ 
    background-color: rgb(129, 1, 1);
    border-radius: 10%;
    color: white;
}

a span {
    max-width: 0;
    -webkit-transition: max-width 1s;
    transition: max-width 1s;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
  }
  
a:hover span {
    max-width: 12rem;
  }

.nav-link.btn.btn-lg {
    font-size: 2rem;
    color: rgba(123,21,23,255);
    font-weight: 700;
    border-radius: 10%;
    background-color: white;
    margin-bottom: 2rem;
}

.navbar-toggler-icon{
    background-color: rgb(129, 1, 1);
    position:relative;
}


#textMoving p {
    color: rgb(129, 1, 1);
    font-weight: 600;
    text-align: justify;
    font-size: 1.5rem;
}

@media(max-width: 1700px) {
    #textMoving p {
        color: rgb(129, 1, 1);
        font-weight: 600;
        text-align: justify;
        font-size: 1.2rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media(max-width: 1400px) {
    #textMoving p {
        color: rgb(129, 1, 1);
        font-weight: 600;
        text-align: justify;
        font-size: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

#textMoving h3 { 
    color: rgba(123,21,23,255);
    padding-bottom: 3rem;
    padding-top: 3rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

@media(max-width: 1700px) {
    #textMoving h3 { 
        color: rgba(123,21,23,255);
        padding-bottom: 3rem;
        padding-top: 3rem;
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
    }
}

@media(max-width: 1400px) {
    #textMoving h3 { 
        color: rgba(123,21,23,255);
        padding-bottom: 3rem;
        padding-top: 3rem;
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
    }
}

label {
    color: rgb(129, 1, 1);
}

input:invalid {
    box-shadow: 0 0 5px 1px rgb(129, 1, 1);
  }
  
input:focus:invalid {
    box-shadow: none;
  }
  
  ul {
    list-style-type: none;
}